<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <p>Olá, eu chamo-me Pedro Rafael Ribeiro da Silva, tenho 19 anos e vivo na fabulosa cidade de Barcelos.</p>
    <p>Atualmente, estudo no Instituto Politécnico de Viana do Castelo, no curso de Engenharia Informática, para 
      no futuro poder ser um excelente profissional e ter uma boa qualidade de vida.
    </p>
    <p>Esta aplicação tem como objetivo mostrar os vários aspetos turisticos da cidade de Barcelos, desde da sua cultura
      , gastronomia, pontos de interessse e personalidades.
    </p>
    <p>Espero que goste e que um dia venha visitar a bonita cidade de Barcelos.</p>
    <img src="/assets/barcelos2.png">
  </div>
</ion-content>
