#container{
    text-align: center;
    position: relative;
    top: 5%;
  }

  strong{
    margin-bottom: 5%;
  }
  
  ion-content{
    --ion-background-color:var(--ion-color-barcelos-contrast);
    --ion-text-color: var(--ion-color-barcelos);
  }
  
  ion-avatar{
    position: relative;
    left: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ion-card{
    background-color:var(--ion-color-barcelos-contrast);
    --ion-text-color: var(--ion-color-barcelos);
  }

