<ion-header>
  <ion-toolbar>
    <ion-title>Gastronomia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar>
      <img routerLink="/perfil" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong style="font-size: 40px;">GASTRONOMIA</strong>
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/galoAssado.jpg">
      <ion-card-header>
        <ion-card-title>Galo Assado á moda de Barcelos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para ver a receita deste delicioso prato.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/arroz.jpg" />
      <ion-card-header>
        <ion-card-title>Arroz Pica no Chão</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para ver a receita deste delicioso prato.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/polvo.png" />
      <ion-card-header>
        <ion-card-title>Polvo Grelhado na Brasa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para ver a receita deste delicioso prato.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/queijadas.jpg" />
      <ion-card-header>
        <ion-card-title>Queijadas de Barcelos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para ver a receita deste delicioso prato.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
