<ion-header>
  <ion-toolbar>
    <ion-title>Pontos de Interesse</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar>
      <img routerLink="/perfil" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong style="font-size: 40px;">PONTOS DE INTERESSE</strong>
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/templo.jpg">
      <ion-card-header>
        <ion-card-title>Templo do Senhor Bom Jesus da Cruz</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para saber mais sobre este local.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/torre.jpg" />
      <ion-card-header>
        <ion-card-title>Torre Medieval</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para saber mais sobre este local.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/museu.jpg" />
      <ion-card-header>
        <ion-card-title>Museu de Olaria</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para saber mais sobre este local.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/passeio.jpg" />
      <ion-card-header>
        <ion-card-title>Passeio dos Assentos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para saber mais sobre este local.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>