<ion-header>
  <ion-toolbar>
    <ion-title>Cultura</ion-title>
    <ion-avatar>
      <img routerLink="/perfil" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong style="font-size: 40px;">CULTURA</strong>
    <ion-button routerLink="/curiosidades/1" size="large"   color="barcelos" shape="round">
      História
    </ion-button>
    <ion-button routerLink="/curiosidades/2" size="large" color="barcelos" shape="round">
      Informações de caraterização
    </ion-button>
    <ion-button routerLink="/curiosidades/3" size="large"  color="barcelos" shape="round">
      Clube de Futebol
    </ion-button>
  </div>

</ion-content>
